.list {
  display: block;
  width: 90%;
}

.list h3 {
  font-size: large;
}

.list ul {
  list-style: none;
}

.list ul li {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  font-weight: "bold";
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(128, 127, 124);
}

.list ul li:hover {
  background-color: rgb(162, 181, 218);
  -webkit-box-shadow: 0 10px 5px #888888;
  -moz-box-shadow: 0 10px 5px #888888;
  box-shadow: 0 10px 5px #888888;
}

@media screen and (max-width: 800px) {
  .list h3 {
    font-size: small;
  }

  .list ul li {
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  .list h3 {
    font-size: small;
  }

  .list ul li {
    font-size: x-small;
  }
}
