header,
nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(196, 201, 201);
  position: sticky;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  color: rgb(107, 107, 107);
}

.manage {
  display: flex;
  justify-content: space-between;
}

.login {
  margin-left: 20px;
  margin-right: 5px;
}

.home {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(145, 144, 146);
  border-right: 0.1px solid rgb(114, 92, 114);
}

.home:hover {
  background-color: blueviolet;
}

.button {
  background-color: rgb(145, 144, 146);
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: blueviolet;
}
